@import "../libs/mixin";
@import "../variables";

.footer {
  background-color: $color-dark_grey;
  box-shadow: 0px 10px 50px rgba(133, 143, 164, 0.05);

  padding: 90px 0 50px;

  @media screen and (max-width: 945px) {
    padding: 50px 0;
  }

  &-wrapper {
    width: 100%;

    @include displayFlex(flex-start, center, column);
  }

  &-top {
    @include displayFlex(center, space-between);
    gap: 20px;

    width: 100%;

    @media screen and (max-width: 945px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .social {
    &-text {
      white-space: nowrap;
    }
  }

  .communications {
    border: none;
    width: auto;

    flex-wrap: wrap;

    @media screen and (max-width: 1275px) {
      gap: 10px;
    }

    &-tel {
      color: #858fa4;
    }
  }
}
